USE [K2]
GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskLinkType]    Script Date: 3/8/2017 5:57:58 PM ******/
DROP TABLE [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskLinkType]
GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskLink]    Script Date: 3/8/2017 5:57:58 PM ******/
DROP TABLE [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskLink]
GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskAccess]    Script Date: 3/8/2017 5:57:58 PM ******/
DROP TABLE [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskAccess]
GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_Workdesk]    Script Date: 3/8/2017 5:57:58 PM ******/
DROP TABLE [dbo].[com_K2_App_Workdesk_SmartObject_Workdesk]
GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_Icon]    Script Date: 3/8/2017 5:57:58 PM ******/
DROP TABLE [dbo].[com_K2_App_Workdesk_SmartObject_Icon]
GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_Icon]    Script Date: 3/8/2017 5:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[com_K2_App_Workdesk_SmartObject_Icon](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
	[Icon2] [nvarchar](max) NULL,
	[IsSystem] [bit] NULL,
 CONSTRAINT [PK_com_K2_App_Workdesk_SmartObject_Icon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_Workdesk]    Script Date: 3/8/2017 5:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[com_K2_App_Workdesk_SmartObject_Workdesk](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[SortBy] [bigint] NULL,
	[LandingFormURL] [nvarchar](max) NULL,
	[IsLandingSmartForm] [bit] NULL,
	[IconID] [uniqueidentifier] NULL,
	[IsSystem] [bit] NULL,
	[RequireAdminPermission] [bit] NULL,
	[HasCustomAccess] [bit] NULL,
	[IsDefault] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedByUniqueName] [nvarchar](100) NULL,
	[CreatedByDisplayName] [nvarchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedByUniqueName] [nvarchar](100) NULL,
	[UpdatedByDisplayName] [nvarchar](100) NULL,
 CONSTRAINT [PK_com_K2_App_Workdesk_SmartObject_Workdesk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskAccess]    Script Date: 3/8/2017 5:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskAccess](
	[ID] [uniqueidentifier] NOT NULL,
	[WorkdeskID] [uniqueidentifier] NULL,
	[UniqueName] [nvarchar](100) NULL,
	[DisplayName] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedByUniqueName] [nvarchar](100) NULL,
	[CreatedByDisplayName] [nvarchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedByUniqueName] [nvarchar](100) NULL,
	[UpdatedByDisplayName] [nvarchar](100) NULL,
 CONSTRAINT [PK_com_K2_App_Workdesk_SmartObject_WorkdeskAccess] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskLink]    Script Date: 3/8/2017 5:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskLink](
	[ID] [uniqueidentifier] NOT NULL,
	[WorkdeskID] [uniqueidentifier] NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[LinkURL] [nvarchar](max) NULL,
	[IsSmartForm] [bit] NULL,
	[IsSystem] [bit] NULL,
	[TypeID] [uniqueidentifier] NULL,
	[IconBase64] [nvarchar](max) NULL,
	[IsEnabled] [bit] NULL,
	[Sequence] [bigint] NULL,
	[MinimumHeight] [nvarchar](100) NULL,
	[MinimumWidth] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedByUniqueName] [nvarchar](100) NULL,
	[CreatedByDisplayName] [nvarchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedByUniqueName] [nvarchar](100) NULL,
	[UpdatedByDisplayName] [nvarchar](100) NULL,
	[IconID] [uniqueidentifier] NULL,
	[ShowAsMainForm] [bit] NULL,
 CONSTRAINT [PK_com_K2_App_Workdesk_SmartObject_WorkdeskLink] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskLinkType]    Script Date: 3/8/2017 5:57:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskLinkType](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[ShowLinkDetail] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[IsSystem] [bit] NULL,
 CONSTRAINT [PK_com_K2_App_Workdesk_SmartObject_WorkdeskLinkType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[com_K2_App_Workdesk_SmartObject_Icon] ([ID], [Title], [IsDeleted], [Icon2], [IsSystem]) VALUES (N'da83458d-92cf-485d-8a70-0720cbc95b53', N'Empty', 0, NULL, NULL)
INSERT [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskAccess] ([ID], [WorkdeskID], [UniqueName], [DisplayName], [IsDeleted], [CreatedOn], [CreatedByUniqueName], [CreatedByDisplayName], [UpdatedOn], [UpdatedByUniqueName], [UpdatedByDisplayName]) VALUES (N'6b1732b9-dbd8-4e7f-991f-03ea03ba9e1f', N'ca6300ed-07d5-4378-8517-2abd77f9b72a', N'K2:Denallix\twharton', N'Tim Wharton', 0, CAST(0x0000A70E00C693F0 AS DateTime), N'K2:Denallix\ktorres', N'Karina Torres', CAST(0x0000A70E00C693F0 AS DateTime), N'K2:Denallix\ktorres', N'Karina Torres')
INSERT [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskAccess] ([ID], [WorkdeskID], [UniqueName], [DisplayName], [IsDeleted], [CreatedOn], [CreatedByUniqueName], [CreatedByDisplayName], [UpdatedOn], [UpdatedByUniqueName], [UpdatedByDisplayName]) VALUES (N'ce879872-e608-4d29-9091-06c659c804cb', N'cc6d268f-a3ee-40a1-8905-536f27c823fc', N'K2:Denallix\astark', N'Amy Stark', 0, CAST(0x0000A70F00C21780 AS DateTime), N'K2:Denallix\ktorres', N'Karina Torres', CAST(0x0000A70F00C21780 AS DateTime), N'K2:Denallix\ktorres', N'Karina Torres')
INSERT [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskAccess] ([ID], [WorkdeskID], [UniqueName], [DisplayName], [IsDeleted], [CreatedOn], [CreatedByUniqueName], [CreatedByDisplayName], [UpdatedOn], [UpdatedByUniqueName], [UpdatedByDisplayName]) VALUES (N'79f4c10d-49a6-4eb0-a1a8-076240436463', N'0a33aa9c-2a21-4f6b-8c96-61d876549f1f', N'K2:Denallix\hfoster', N'Harriet Foster', 0, CAST(0x0000A70F0027ED18 AS DateTime), N'K2:Denallix\ktorres', N'Karina Torres', CAST(0x0000A70F0027ED18 AS DateTime), N'K2:Denallix\ktorres', N'Karina Torres')
INSERT [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskLinkType] ([ID], [Title], [Description], [ShowLinkDetail], [IsDeleted], [IsSystem]) VALUES (N'3fa1740c-f138-4a70-8a6c-139f93c6bf9e', N'Link', N'Link Type', 1, 0, 1)
INSERT [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskLinkType] ([ID], [Title], [Description], [ShowLinkDetail], [IsDeleted], [IsSystem]) VALUES (N'72e7a328-7a66-47fa-a519-5a6443d0bcd2', N'Header', N'Header Type', 0, 0, 1)
