USE [K2]
GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_Icon]    Script Date: 3/7/2017 1:37:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[com_K2_App_Workdesk_SmartObject_Icon](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
	[Icon2] [nvarchar](max) NULL,
	[IsSystem] [bit] NULL,
 CONSTRAINT [PK_com_K2_App_Workdesk_SmartObject_Icon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_Workdesk]    Script Date: 1/27/2017 4:35:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[com_K2_App_Workdesk_SmartObject_Workdesk](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[SortBy] [bigint] NULL,
	[LandingFormURL] [nvarchar](max) NULL,
	[IsLandingSmartForm] [bit] NULL,
	[IconID] [uniqueidentifier] NULL,
	[IsSystem] [bit] NULL,
	[RequireAdminPermission] [bit] NULL,
	[HasCustomAccess] [bit] NULL,
	[IsDefault] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedByUniqueName] [nvarchar](100) NULL,
	[CreatedByDisplayName] [nvarchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedByUniqueName] [nvarchar](100) NULL,
	[UpdatedByDisplayName] [nvarchar](100) NULL,
 CONSTRAINT [PK_com_K2_App_Workdesk_SmartObject_Workdesk] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskAccess]    Script Date: 1/27/2017 4:35:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskAccess](
	[ID] [uniqueidentifier] NOT NULL,
	[WorkdeskID] [uniqueidentifier] NULL,
	[UniqueName] [nvarchar](100) NULL,
	[DisplayName] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedByUniqueName] [nvarchar](100) NULL,
	[CreatedByDisplayName] [nvarchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedByUniqueName] [nvarchar](100) NULL,
	[UpdatedByDisplayName] [nvarchar](100) NULL,
 CONSTRAINT [PK_com_K2_App_Workdesk_SmartObject_WorkdeskAccess] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskLink]    Script Date: 1/27/2017 4:35:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskLink](
	[ID] [uniqueidentifier] NOT NULL,
	[WorkdeskID] [uniqueidentifier] NULL,
	[Title] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[LinkURL] [nvarchar](max) NULL,
	[IsSmartForm] [bit] NULL,
	[IsSystem] [bit] NULL,
	[TypeID] [uniqueidentifier] NULL,
	[IconBase64] [nvarchar](max) NULL,
	[IsEnabled] [bit] NULL,
	[Sequence] [bigint] NULL,
	[MinimumHeight] [nvarchar](100) NULL,
	[MinimumWidth] [nvarchar](100) NULL,
	[IsDeleted] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedByUniqueName] [nvarchar](100) NULL,
	[CreatedByDisplayName] [nvarchar](100) NULL,
	[UpdatedOn] [datetime] NULL,
	[UpdatedByUniqueName] [nvarchar](100) NULL,
	[UpdatedByDisplayName] [nvarchar](100) NULL,
	[IconID] [uniqueidentifier] NULL,
	[ShowAsMainForm] [bit] NULL,
 CONSTRAINT [PK_com_K2_App_Workdesk_SmartObject_WorkdeskLink] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskAccess] ([ID], [WorkdeskID], [UniqueName], [DisplayName], [IsDeleted], [CreatedOn], [CreatedByUniqueName], [CreatedByDisplayName], [UpdatedOn], [UpdatedByUniqueName], [UpdatedByDisplayName]) VALUES (N'51c0f716-ef31-4feb-9aa2-18ca5fc23eae', N'448046d3-0d7f-46b3-b5b5-9a88d5aa19d9', N'K2:DENALLIX\Administrator', N'Denallix Administrator', 0, CAST(N'2016-12-21 12:21:17.000' AS DateTime), N'K2:DENALLIX\Administrator', N'Denallix Administrator', CAST(N'2016-12-21 12:21:17.000' AS DateTime), N'K2:DENALLIX\Administrator', N'Denallix Administrator')
INSERT [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskAccess] ([ID], [WorkdeskID], [UniqueName], [DisplayName], [IsDeleted], [CreatedOn], [CreatedByUniqueName], [CreatedByDisplayName], [UpdatedOn], [UpdatedByUniqueName], [UpdatedByDisplayName]) VALUES (N'97c62697-855a-4366-b22d-1f689cc18f35', N'0ca59493-5577-4ca8-aeb1-0bb5ebd89d6f', N'K2:DENALLIX\Administrator', N'Denallix Administrator', 0, CAST(N'2016-12-15 10:07:56.000' AS DateTime), N'K2:DENALLIX\Administrator', N'Denallix Administrator', CAST(N'2016-12-15 10:07:56.000' AS DateTime), N'K2:DENALLIX\Administrator', N'Denallix Administrator')
INSERT [dbo].[com_K2_App_Workdesk_SmartObject_WorkdeskAccess] ([ID], [WorkdeskID], [UniqueName], [DisplayName], [IsDeleted], [CreatedOn], [CreatedByUniqueName], [CreatedByDisplayName], [UpdatedOn], [UpdatedByUniqueName], [UpdatedByDisplayName]) VALUES (N'132f780f-d3fb-4edd-8ec2-365ee5b5fa09', N'cc6d268f-a3ee-40a1-8905-536f27c823fc', N'K2:DENALLIX\Administrator', N'Denallix Administrator', 0, CAST(N'2016-12-21 12:21:35.000' AS DateTime), N'K2:DENALLIX\Administrator', N'Denallix Administrator', CAST(N'2016-12-21 12:21:35.000' AS DateTime), N'K2:DENALLIX\Administrator', N'Denallix Administrator')
